@tailwind base;
@tailwind components;
@tailwind utilities;

.background-animate {
    background-size: 200%;

    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
  }

  @keyframes AnimationName {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 2px;
  }
::-webkit-scrollbar-track {
    background-color: #f1f5f9;
    border-radius: 2px;
    margin-left: 5px;
    margin-right: 5px
}



.loader, .loader:before, .loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader {
   @apply text-primary-900/50;
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}

@keyframes bblFadInOut {
  0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em }
  40% { box-shadow: 0 2.5em 0 0 }
}



.animate-counter {
  --num: 0;
}

@keyframes counter {
  from {
    --num: 0;
  }

  to {
    --num: attr(data-num);
  }
}

#dataTable table {
@apply w-full 
}
#dataTable thead {
@apply bg-slate-100
}
#dataTable tr {
@apply border-b transition-colors whitespace-nowrap hover:bg-slate-100/50
}
#dataTable th {
@apply h-10 px-3 bg-surface first:rounded-tl-lg last:rounded-tr-lg text-left align-middle font-medium text-slate-500 
}
#dataTable td {
@apply p-3 align-middle
}